<html>
    <body>

      <app-adminnavbar></app-adminnavbar>
        <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">Upload a file</span><br><br>
            </div>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile01"
                aria-describedby="inputGroupFileAddon01">

            </div>
          </div>
          <br><br><br><br>
          <div style="text-align: center;">
                
            <a routerLink="/admin" class="btn btn-info" role="button">Back</a>
          </div>
  
    
  
</body>
  </html>
  <router-outlet></router-outlet>