<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
	  .body {
   
   background-image: url("https://www.solarwindsmsp.com/sites/solarwindsmsp/files/blog/2017/10/local_admin_rights.jpg");
background-repeat: no-repeat;
background-size: cover;
height: 600px;

 } 
  </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h3 class="text-center">Welcome ADMIN</h3>
  <p></p>
</div>
<div class="container">
	<div class="row">
    	<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="fa fa-users"></i></div>
					<div class="info">
						<h3 class="title">User List</h3>
						<p>
							Here you can see all the existing users, add users, update
 users and delete users						</p>
						<div class="more">
							<a routerLink="/userlist">
								Take me to UserList <i class="fa fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="space"></div>
			</div> 
		</div>
			
        <div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="fa fa-database"></i></div>
					<div class="info">
						<h3 class="title">Import Data</h3>
    					<p>
              Import Data from EXcel Sheet we can retieve it here            
              <br><br>
						</p>
						<div class="more">
							<a routerLink="/importdata">
								Import Data <i class="fa fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="space"></div>
			</div> 
		</div>
      
    
    <div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="fa fa-building"></i></div>
					<div class="info">
						<h3 class="title">Manage Company</h3>
    					<p>
                Here you can see all the existing Companies, add companies, update
                companies and delete companies								</p>
						<div class="more">
							<a routerLink="/managecompany" >
								Manage Compamy <i class="fa fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="space"></div>
			</div> 
    </div>	
    
    <div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="fa fa-bar-chart"></i></div>
					<div class="info">
						<h3 class="title">Manage Exchange</h3>
    					<p>
                Here you can see all the existing Exchange, add exchanges, update
                exchanges and delete exchanges								</p>
						<div class="more">
							<a routerLink="/manageexchange">
								Manage Exchange <i class="fa fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="space"></div>
			</div> 
    </div>	
    
    <div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="fa fa-desktop"></i></div>
					<div class="info">
						<h3 class="title">IPO details</h3>
    					<p>
                Here you can see all the existing Ipos, add ipos, update
                ipos and delete ipos								</p>
						<div class="more">
							<a routerLink="/updateipodetails">
								Ipo Deatils <i class="fa fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="space"></div>
			</div> 
    </div>	
    
    <div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="fa fa-money"></i></div>
					<div class="info">
						<h3 class="title">Stock Price</h3>
    					<p>
                Here you can see all the existing Stock Prices, add Stock Prices, update
                Stock Prices and delete Stock Prices						</p>
						<div class="more">
							<a routerLink="/stockprice">
								Stock Price <i class="fa fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="space"></div>
			</div> 
    </div>	
    
    <div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="fa fa-tag"></i></div>
					<div class="info">
						<h3 class="title">Sectors</h3>
    				<p>
              Here you can see all the existing Sectors, add Stock Prices, update
              Sectors and delete Sectors					</p>
          <div class="more">
            <a routerLink="/sectorlist">
              Sectors <i class="fa fa-angle-double-right"></i>
            </a>
						</div>
					</div>
				</div>
				<div class="space"></div>
			</div> 
		</div>		    
		
		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="fa fa-user"></i></div>
					<div class="info">
						<h3 class="title">Admin</h3>
    					<p>
                	Back to top<br><br>							</p>
						<!-- <div class="more">
							<a routerLink="/#">
								Admin <i class="fa fa-angle-double-right"></i>
							</a>
						</div> -->
					</div>
				</div>
				<div class="space"></div><br>
			</div> 
    </div>	
	</div>
	<div class="space"></div><br>
</div>

</body>
</html>
<router-outlet></router-outlet>