
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Manage Company</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <app-adminnavbar></app-adminnavbar>
    

  <div class="text-right">
  <button type="button" class="btn btn-primary" routerLink="/sector">Add new Sector</button>
  </div>
  <h1 class="text-info" align="center">List of Sectors</h1>
  <div class="panel panel-default">

    <div class="panel-body">


   <table class="table table-hover table-sm" >



    <thead class="thead-light">



     <tr>
      <th></th>
      <th>SectorID</th>





      <th>SectorName</th>



      <th>Brief</th>





     </tr>



    </thead>



    <tbody>



      <tr *ngFor="let sector of sectorList ">

        <td></td>



      <td>{{sector.sectorid}}</td>



      <td>{{sector.sectorname}}</td>



      <td>{{sector.brief}}</td>
      <td><button (click)="deleteSector(sector)" class='btn btn-danger'><i class="fa fa-futboll-0">Delete</i></button> &nbsp;

        <button (click)="updateSector(sector)" class='btn btn-info'
   
        data-toggle="modal" data-target="#myModal">Update</button>
   
       </td>
       


  
    </tr>
  
  </tbody><br>

</table>

</div>

</div>

</body>
</html>
<router-outlet></router-outlet>