body {
   
    background-image: url("https://image.freepik.com/free-photo/dark-blue-product-background_53876-92801.jpg");
background-repeat: no-repeat;
 background-size: cover;
 height: 750px;
 
 
  }
  