body {
   
    background-image: url("https://media.gettyimages.com/vectors/stock-market-and-traders-vector-id502221288?s=2048x2048");
background-repeat: no-repeat;
 background-size: cover;
 height: 1000px;
 
  }
  